@{
    ViewData["Title"] = "404 Sayfası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- 404 Error Text -->
<div class="text-center">
    <div class="error mx-auto" data-text="404">404</div>
    <p class="lead text-gray-800 mb-5">Sayfa Bulunamadı</p>
    <p class="text-gray-500 mb-0">Görünüşe göre matriste bir aksaklık bulmuşsun...</p>
    <a asp-controller="Home" asp-action="Index">&larr; Kontrol Paneline Git</a>
</div>

